.title{
    font-size: 5rem;
    text-align: center;
}

.primario{
    color:black;
    margin: 2rem;
    font-display: block;
    display: flex;
    text-align: justify;
}

article{
    margin: 4rem;
    padding: 1rem;
}

footer li{
    margin: 2rem;
    padding: 2rem ;
}

header{
    display: flex;
    overflow-x:auto ;
    gap:15px

}

.secundario li {
    margin: 1rem;

}